@reference '../app/globals.css';

.nav {
  --when-logo-crosses-top-of-screen: calc(
    var(--header-height) +
      ((var(--landing-page-hero-height) - var(--logo-lockup-height)) / 2)
  );
  --range-start: calc(
    var(--when-logo-crosses-top-of-screen) - (var(--header-height) * 1.5)
  );
  --range-end: calc(var(--range-start) + var(--header-height));

  backdrop-filter: blur(theme(blur.md));

  &:not([data-open]) {
    backdrop-filter: blur(0);

    @supports (animation-range: var(--range-start) var(--range-end)) {
      animation: nav-backdrop-blur linear forwards;
      animation-timeline: scroll();
      animation-range: var(--range-start) var(--range-end);
    }

    & .homeLink {
      opacity: 0;
      visibility: hidden;
      @supports (animation-range: var(--range-start) var(--range-end)) {
        animation: home-link-reveal linear forwards;
        animation-timeline: scroll();
        animation-range: var(--range-start) var(--range-end);
      }
    }
  }

  @media (width >= theme(breakpoint.lg)) {
    backdrop-filter: blur(0);

    @supports (animation-range: var(--range-start) var(--range-end)) {
      animation: nav-backdrop-blur linear forwards;
      animation-timeline: scroll();
      animation-range: var(--range-start) var(--range-end);
    }

    & .homeLink {
      opacity: 0;
      visibility: hidden;
      @supports (animation-range: var(--range-start) var(--range-end)) {
        animation: home-link-reveal linear forwards;
        animation-timeline: scroll();
        animation-range: var(--range-start) var(--range-end);
      }
    }
  }
}

@keyframes nav-backdrop-blur {
  from {
    backdrop-filter: blur(0);
  }
  to {
    backdrop-filter: blur(theme(blur.md));
  }
}

@keyframes home-link-reveal {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 100%;
    visibility: visible;
  }
}
